* {
    box-sizing: border-box;
    color: #4a4a4a;
}

html,
body {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #ffe6a5;
}

body .container {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

body .banner,
body .error-banner {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 30px 0;
}

.button {
    cursor: pointer;
    user-select: none;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #4a4a4a;
    display: block;
}

#loginForm {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

form .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

form .form-input {
    min-width: 200px;
    height: 24px;
    border: 1px solid #4a4a4a;
    border-radius: 2px;
    transition: background-color 0.2s ease-in-out;
    background-color: #ffffff;
    display: block;
    cursor: text;
}

form .form-submit {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #fff2b8;
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid #4a4a4a;
    margin: 6px 0 0 auto;
    display: block;
}

form .form-input:focus,
form .form-input:hover,
form .form-submit:focus,
form .form-submit:hover,
.container .logout:focus,
.container .logout:hover,
.container .cancel:focus,
.container .cancel:hover{
    background-color: #ffe434;
}

.container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container .logout,
.container .cancel {
    background-color: #fff2b8;
    margin-left: auto;
}

.container .users-container {
    margin: 0 auto;
    max-width: 600px;
}

.container .user-container {
    max-width: 400px;
    margin: 0 auto;
}

.container #clientSubmit {
    margin: 10px 0 0 auto;
}

.container .users-container-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.container .users-container-controls .add-client {
    background-color: #6fff75;
    margin-right: auto;
}

.container .users-container-controls .add-client:focus,
.container .users-container-controls .add-client:hover {
    background-color: #0dff00;
}

.container .users-container-controls #clientsListForm {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.container .users-container-controls #clientsListForm #search {
    height: 30px;
    margin-right: 6px;
    border-radius: 3px;
    border: 1px solid #4a4a4a;
}

.container .users-container-controls #clientsListForm .button:focus,
.container .users-container-controls #clientsListForm .button:hover,
.container #clientSubmit:focus,
.container #clientSubmit:hover {
    background-color: #52aeff;
}

.container .clients-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

.container .clients-table,
.container .clients-table tr,
.container .clients-table td,
.container .clients-table th {
    border: 1px solid #4a4a4a;
}

.container .clients-table td,
.container .clients-table th {
    padding: 4px;
}

.container .clients-table .table-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .clients-table .table-buttons .button {
    color: #ffffff;
}

.container .clients-table .table-buttons .button:first-child {
    margin-right: 4px;
}

.container .clients-table .table-buttons .button.edit-button {
    background-color: #ffa200;
}

.container .clients-table .table-buttons .button.edit-button:focus,
.container .clients-table .table-buttons .button.edit-button:hover {
    background-color: #e56c02;
}

.container .clients-table .table-buttons .button.delete-button {
    background-color: #ff3c3c;
}

.container .clients-table .table-buttons .button.delete-button:focus,
.container .clients-table .table-buttons .button.delete-button:hover {
    background-color: #e00000;
}

input:disabled,
input:read-only {
    cursor: not-allowed;
}